body {
    font-family: 'Lato', sans-serif; /* Используем шрифт Lato для текста */
}

.message {
    margin-bottom: 0.5px; /* Маленький отступ между сообщениями */
    padding: 5px;
    overflow: hidden;
    display: flex;
    align-items: baseline;
}

.message p {
    margin: 0;
    padding: 5px;
    border: none;
    margin-left: 35px;
}

.message-container {
    transition: opacity 0.5s ease-out; /* Добавляем переход для свойства opacity */
  }